@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes parpadeo {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.parpadeo {
  animation: heartbeat 1.2s infinite;
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  25% { transform: scale(1.1); }
  50% { transform: scale(1); }
  75% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
/*texto*/
.minecraft-text {
  text-shadow: 3px 3px 0 #000;
}

.minecraft-title {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

/*carta modal*/

@keyframes idleFloat {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}

.envelope {
  position: relative;
  width: 320px;
  height: 200px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 8px 8px 0 black;
  perspective: 900px;
  animation: idleFloat 3s ease-in-out infinite;
}

.envelope:hover {
  transform: translateY(-5px);
  transition: 0.2s;
}

/* PARTES DEL SOBRE */

.envelope-back {
  position: absolute;
  inset: 0;
  background: #f5e6c8;
  border: 4px solid black;
  z-index: 1;
}

.envelope-front {
  position: absolute;
  inset: 0;
  background: #f5e6c8;
  border: 4px solid black;
  clip-path: polygon(0 0, 100% 0, 50% 60%);
  z-index: 3;
}

.envelope-flap {
  position: absolute;
  inset: 0;
  background: #e6d3a3;
  clip-path: polygon(0 0, 100% 0, 50% 60%);
  border: 4px solid black;
  transform-origin: top;
  transition: transform 0.4s ease;
  z-index: 4;
  transform-style: preserve-3d;
}

/* CARTA */

.letter {
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 12px;
  background: #fffdf5;
  border: 4px solid black;
  padding: 20px;

  transform: translateY(80px); /* escondida */
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.4s ease;
  z-index: 2;
}

/* ESTADO ABIERTO */

.envelope.open .letter {
  transform: translateY(-20px); /* SALE lo justo */
  opacity: 1;
  z-index: 10;
}

.envelope.open .envelope-flap {
  transform: rotateX(180deg);
  z-index: 1;
}

.envelope.open .envelope-front {
  z-index: 0;
}


/*si*/

@keyframes fall {
  0% {
    transform: translateY(-60px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-fall {
  top: -60px;
  animation: fall linear forwards;
}
